<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Car list </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Car List</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>Student List</h3>

  <!-- sregistrationNum: string; scarMake: string; scarModel: string; scarYear:
  string; scarOdometer: string; -->
  <ul style="list-style-type: none">
    <li *ngFor="let st of data">
      Registration Number={{st.sregistrationNum}}<br />
      Car Make={{st.scarMake}} Car Model={{st.scarModel}} Car
      Odometer={{st.scarOdometer}}
    </li>
  </ul>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
