<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Introduction of Team 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Hello Welcome to the app developed by team 3</h1>
  <h2>The team members are as follow</h2>
  <div class="ul">
    <li>Roshan</li>
    <li>Bheem</li>
    <li>Ching</li>
  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Developed by Team 3</ion-title>
  </ion-toolbar>
</ion-footer>
