<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add Cars </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="back">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-item class="add-message">{{message}}</ion-item>

  <ion-button color="danger" size="small" (click)="displayHelp()"
    ><ion-icon slot="icon-only" name="help"></ion-icon>Help</ion-button
  >

  <ion-item>
    <ion-label>Registration Number</ion-label>
    <ion-input
      type="number"
      placeholder="Enter Registration Number"
      [(ngModel)]="regNum"
    ></ion-input>
    <ion-label>Car Make</ion-label>
    <ion-input placeholder="Enter Car Make" [(ngModel)]="carMake"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Car Model</ion-label>
    <ion-input placeholder="Enter Car Model" [(ngModel)]="carModel"></ion-input>
    <ion-label>Car Year</ion-label>
    <ion-input
      type="number"
      placeholder="Enter Car Year"
      [(ngModel)]="carYear"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Car Odometer</ion-label>
    <ion-input
      type="number"
      placeholder="Enter Car Odometer"
      [(ngModel)]="carOdometer"
    ></ion-input>
  </ion-item>
  <!-- Transmission -->
  <ion-list>
    <ion-radio-group value="" [(ngModel)]="carTransmission">
      <ion-list-header>Select Transmission</ion-list-header>

      <ion-item>
        <ion-label>Automatic</ion-label>
        <ion-radio slot="end" value="Automatic"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Manual</ion-label>
        <ion-radio slot="end" value="Manual"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- Body type -->
  <ion-list>
    <ion-radio-group value="" [(ngModel)]="carBody">
      <ion-item>
        <ion-label>Select Body Type</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hatch</ion-label>
        <ion-radio slot="end" value="Hatch"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Sedan</ion-label>
        <ion-radio slot="end" value="Sedan"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>SUV</ion-label>
        <ion-radio slot="end" value="SUV"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Van</ion-label>
        <ion-radio slot="end" value="Van"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>UTE</ion-label>
        <ion-radio slot="end" value="UTE"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label>Rental Price</ion-label>
    <ion-input
      placeholder="Enter Rental Price"
      [(ngModel)]="carRental"
    ></ion-input>
  </ion-item>
  <!-- Currently rent -->
  <ion-list>
    <ion-radio-group value="" [(ngModel)]="carRent">
      <ion-item>
        <ion-label>Currently in Rent</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio slot="end" value="Yes"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="end" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button color="success" expand="block" (click)="addToDatabase()"
    >Add to Database</ion-button
  >
</ion-content>
